*/.idea
*/*/App.config
*/App.config
*/*/AssemblyInfo.fs
*/AssemblyInfo.fs
*/*.fsproj
*.fsproj
*/*.sln
*.sln
*/bin
*/*/bin
*/*/obj
*/obj
*/packages.config
*/*/packages.config
*/packages
*/*/packages
.DS_Store
*/Program.fs
*/*/Program.fs

